@page
@model WatchlistModel
@{
    ViewData["Title"] = "Watchlist Page";
}
<div class="text-center display-4 mb-5">Watched stocks</div>
<table>
    <thead>
        <th>Logo</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Locale</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Watchlist)
        {
            <tr>
                <td class="logo">
                    <img src="@($"{item.StockLogo}")?apiKey=GdNhXzB_Cb5PmFduSR2WcpxGA8C4Erbv" alt="logo">
                </td>
                <td>@item.StockSymbol</td>
                <td>@item.StockName</td>
                <td>@item.StockLocale.ToUpper()</td>
                <td>
                    <form method="post">
                        <input type="hidden" asp-for="@item.StockSymbol" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>

<style>
    table {
        width: 100%;
    }

    thead {
        border-bottom: 3px solid black;
    }

    th,
    td {
        text-align: center;
        padding: 20px;
    }

    .logo img {
        height: 100px;
        width: auto;
        margin-right: 20px;
    }
</style>